.counter {
  width: 100%;
  color: blueviolet;
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  border-bottom: 1px solid gold;
  overflow-wrap: break-word;
  .count {
    margin-top: 100px;
    font-size: 10rem;
    color: peru;
    font-weight: 700
  }
}